<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.commandline" version="16.02.0.20160811" />
  <package id="7zip.install" version="16.02.0.20160811" />
  <package id="autohotkey.portable" version="1.1.24.02" />
  <package id="chocolatey" version="0.10.2" />
  <package id="chocolatey-fosshub.extension" version="0.1.0" />
  <package id="chocolatey-uninstall.extension" version="1.1.0" />
  <package id="ChocolateyGUI" version="0.13.2" />
  <package id="citrix-receiver" version="4.4" />
  <package id="classic-shell" version="4.2.5.20160521" />
  <package id="DotNet4.0" version="4.0.30319.20141222" />
  <package id="dropbox" version="8.4.21" />
  <package id="filezilla" version="3.22.1" />
  <package id="Firefox" version="49.0.1" />
  <package id="freemake-video-converter" version="4.1.9.40" />
  <package id="GoogleChrome" version="53.0.2785.143" />
  <package id="iTunes" version="12.5.1" />
  <package id="jdk8" version="8.0.102" />
  <package id="kodi" version="16.1" />
  <package id="notepadplusplus" version="6.9.2" />
  <package id="notepadplusplus.install" version="6.9.2" />
  <package id="PowerShell" version="5.0.10586.20151218" />
  <package id="teamviewer" version="11.0.66695" />
  <package id="virtualbox" version="5.1.4.110229" />
  <package id="vlc" version="2.2.4" />
  <package id="youtube-dl" version="2016.10.02" />
</packages>